body {
    background: #343434;
    color: #f6f6f6;
    font-size: 1.6rem;
    word-break: keep-all;
}

.mc {
    color: #e0bd76;
}

.m_bg {
    background: #222;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

@media(max-width: 768px) {
    h2 {
        font-size: 4rem;
        margin-bottom: 30px;
    }
}

/* seting css*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background: #343434;
    line-height: 100px;
    font-size: 2rem;
    border-bottom: 1px solid #555;
}

.header img {
    width: 210px;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb {
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    background: #343434;
    height: 0;
    overflow: hidden;
    transition: 0.45s;
}

.header.on .gnb {
    height: 100%;
}

.header .gnb ul {
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

.header .gnb>ul>li {
    flex: 1;
    text-align: center;
}

.header .gnb>ul>li~li {
    border-left: 1px solid #555;
}

.header .gnb>ul>li>a {
    display: block;
    padding: 0 70px;
}

.header button {
    font-size: 24px;
}

@media(max-width: 768px) {
    .header img {
        width: 150px;
    }

    .header .inner {
        flex-direction: row;
    }

    .header .gnb {
        position: fixed;
        top: 101px;
        left: -100%;
        width: 60%;
        background: #343434;
        height: 100%;
        overflow: hidden;
        transition: 0.45s;
    }

    .header.on .gnb {
        left: 0;
    }

    .header .gnb ul {
        width: auto;
        margin: 0 0;
        border: none;
    }

    .header .gnb>ul>li {
        border-bottom: 1px solid #555;
    }
}

/* header */
.mainVisual {
    position: relative;
    height: auto;
    color: #222;
    text-shadow: 0 0 1px #fff;
    font-weight: 700;
}

.mainVisual::before {
    content: "";
    display: block;
    width: 100%;
    height: 101px;
}

.mainVisual>.inner {
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 998;
}

.mainVisual h2 {
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 15px;
}

.mainVisual p {
    font-size: 3rem;
}

.mainVisual .main_visual_slide figure {
    position: relative;
    height: calc(100vh - 100px);
    filter: grayscale(0.5);
}

.mainVisual .main_visual_slide .itm01 {
    background: url(../img/mainVisual01.jpg) no-repeat top 20% center /cover;
}

.mainVisual .main_visual_slide .itm02 {
    background: url(../img/mainVisual02.jpg) no-repeat top 15% center /cover;
}

.mainVisual .main_visual_slide .itm03 {
    background: url(../img/mainVisual03.jpg) no-repeat top 35% center /cover;
}

.mainVisual .main_visual_slide .itm04 {
    background: url(../img/mainVisual04.jpg) no-repeat bottom 35% center /cover;
}

.mainVisual .main_visual_slide .itm05 {
    background: url(../img/mainVisual05.jpeg) no-repeat center center /cover;
}

.mainVisual .main_visual_slide .inner {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;

    font-weight: 700;
    font-size: 2.4rem;
}

.mainVisual .main_visual_slide .inner strong {
    display: block;
    margin-bottom: 10px;
}

.mainVisual .main_visual_slide .inner a {
    display: inline-block;
    padding: 5px 14px 5px 14px;
    border: 1px solid #555;
    font-size: 1.6rem;
}

.mainVisual .scroll_down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    text-shadow: 0 0 1px #fff;
}

@media(max-width: 768px) {
    .mainVisual>.inner {
        bottom: 75px;
    }

    .mainVisual h2 {
        font-weight: 700;
        letter-spacing: 0;
        margin-bottom: 5px;
    }

    .mainVisual p {
        font-size: 2.6rem;
    }

    .mainVisual .main_visual_slide figure {
        position: relative;
        height: 60vh;
    }

    .mainVisual .main_visual_slide .inner {
        bottom: 15px;
    }

    .mainVisual .main_visual_slide .inner strong {
        margin-bottom: 5px;
    }

    .mainVisual .scroll_down {
        display: none;
    }
}

/* main visual */
.mainEvent .inner ul {
    gap: 30px;
}

.mainEvent ul>li {
    flex: 1;
    text-align: center;
}

.mainEvent ul .case {
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.mainEvent ul strong {
    display: block;
    margin-bottom: 10px;
    font-size: 2.4rem;
}

.mainEvent ul p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.45;
}

@media(max-width: 768px) {
    .mainEvent .inner ul {
        flex-wrap: nowrap;
    }

    .mainEvent ul .case {
        width: 80%;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        overflow: hidden;
    }

    .mainEvent ul strong {
        font-size: 3rem;
    }

    .mainEvent ul p {
        font-size: 2rem;
    }
}

/* main event */
.mainConcept .inner {
    position: relative;
}

.mainConcept .tab_concept_menu ul>li button {
    position: relative;
    filter: grayscale(1);
    transition: 0.3s;
}

.mainConcept .tab_concept_menu ul>li.on button,
.mainConcept .tab_concept_menu ul>li button:hover {
    filter: grayscale(0);
}

.mainConcept .tab_concept_menu strong {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) rotate(-90deg);

    color: #555;
}

.mainConcept .tab_concept_menu li:nth-child(1) strong {
    left: -5px;
}

.mainConcept .tab_concept_menu li:nth-child(3) strong {
    left: -20px;
}

.mainConcept .tab_concept_menu li:nth-child(4) strong {
    left: 7px;
    color: #ddd;
}

.mainConcept .tab_concept_menu .img_case {
    width: 260px;
    height: 150px;
    overflow: hidden;
    border-radius: 30px 0 0 30px;
}

.mainConcept .inner .tab_concept_slide {
    flex: 1 0 50%;
    overflow: hidden;
}

.mainConcept .inner .tab_concept_slide figure {
    height: 600px;
}

.mainConcept .tab_concept_slide .tab_slide {
    margin-bottom: 30px;
}

.mainConcept .tab_concept_slide strong {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1px;
}

.mainConcept .tab_concept_slide p {
    font-weight: 300;
    line-height: 1.45;
}

.mainConcept .tab_concept_slide ul>li {
    height: 0;
    overflow: hidden;
}

.mainConcept .tab_concept_slide ul>li.on {
    height: 100%;
}

.mainConcept .controller {
    position: absolute;
    top: calc((100% - 54px) / 2);
    right: 0;
    width: 940px;
}

.mainConcept .controller ul {
    justify-content: space-between;
    font-size: 3rem;
    color: #555;
    text-shadow: 0 0 1px #fff;
    margin: 0 20px;
}

.mainConcept .controller ul li {
    padding: 6px;
    background: rgba(255, 255, 255, 0.5);
}

@media(max-width: 768px) {
    .mainConcept .tab_concept_menu {
        width: 100%;
    }

    .mainConcept .tab_concept_menu>ul {
        display: flex;
    }

    .mainConcept .tab_concept_menu>ul li {
        flex: 1;
        font-size: 2rem;
        line-height: 2;
        text-align: center;
        background: #666;
        border: 1px solid #777;
        border-bottom: none;
        border-radius: 7px 7px 0 0;

    }

    .mainConcept .tab_concept_menu ul>li.on,
    .mainConcept .tab_concept_menu ul>li:hover {
        background: #333;
    }

    .mainConcept .tab_concept_menu strong {
        position: relative;
        top: 0;
        transform: translate(0, 0) rotate(0);
        color: #f6f6f6;
    }

    .mainConcept .tab_concept_menu li:nth-child(1) strong {
        left: 0;
    }

    .mainConcept .tab_concept_menu li:nth-child(3) strong {
        left: 0;
    }

    .mainConcept .tab_concept_menu li:nth-child(4) strong {
        left: 0;
        color: #f6f6f6;
    }

    .mainConcept .tab_concept_menu .img_case {
        display: none;
    }

    .mainConcept .inner .tab_concept_slide {
        width: 100%;
    }

    .mainConcept .inner .tab_concept_slide figure {
        height: auto;
    }

    .mainConcept .inner .tab_concept_slide figure img {
        object-fit: cover;
        height: 400px;
    }

    .mainConcept .tab_concept_slide .tab_slide {
        margin-bottom: 30px;
    }

    .mainConcept .tab_concept_slide p {
        font-size: 2rem;
    }

    .mainConcept .tab_concept_slide ul>li {
        height: 0;
        overflow: hidden;
    }

    .mainConcept .tab_concept_slide ul>li.on {
        height: 100%;
    }

    .mainConcept .controller {
        position: absolute;
        top: 38%;
        left: 0;
        right: auto;
        transform: translate(0, 0);
        width: 100%;
    }

    .mainConcept .controller ul {
        flex-direction: row;
        font-size: 24px;
        margin: 0 0;
    }
}

/* main concept */

.mainProfile>p {
    margin-bottom: 50px;
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
}

.mainProfile ul {
    gap: 30px;
}

.mainProfile ul>li {
    flex: 1;
    border-bottom: 1px solid #a58850;
}

.mainProfile ul>li figure {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    margin-bottom: 30px;
}

.mainProfile ul>li figure img {
    position: absolute;
    top: -150px;
    left: 0;
}

.mainProfile ul>li:nth-child(1) figure img {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 450px;
}

.mainProfile ul>li * {
    display: block;
    margin-bottom: 15px;
}

.mainProfile ul>li strong {
    font-size: 2.4rem;
}

.mainProfile ul>li p {
    font-size: 1.5rem;
    line-height: 1.45;
}

@media(max-width: 768px) {
    .mainProfile h2 {
        margin-bottom: 20px;
    }

    .mainProfile>p {
        margin-bottom: 40px;
    }

    .mainProfile ul>li {
        flex: 1;
        border-bottom: 1px solid #a58850;
    }

    .mainProfile ul>li figure {
        height: 270px;
        margin-bottom: 30px;
    }

    .mainProfile ul>li figure img {
        top: -180px;
    }

    .mainProfile ul>li:nth-child(1) figure img {
        width: 110%;
    }

    .mainProfile ul>li * {
        display: block;
        margin-bottom: 10px;
    }

    .mainProfile ul>li span {
        font-size: 2rem;
    }

    .mainProfile ul>li strong {
        font-size: 3.3rem;
    }

    .mainProfile ul>li p {
        font-size: 2.2rem;
    }
}

/* main profile */
.mainRequest h2 {
    margin-bottom: 3rem;
}

.mainRequest p {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.45;
}

.mainRequest button {
    display: block;
    margin: 0 auto;
}

.mainRequest a {
    display: block;
    padding: 5px 20px 7px 20px;
    font-size: 18px;
    border: 1px solid #e0bd76;
    text-align: center;
}

/* main request */
.footer {
    padding: 30px 0;
    background: #333;
}

.footer .inner {
    justify-content: space-between;
}

.footer .foot_t_left {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.footer .foot_t_left li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ddd;
    margin: 0 20px;
}

.foot_t_right {
    font-size: 20px;
    gap: 7px;
}

@media(max-width: 768px) {
    .footer {
        padding: 30px 0;
        background: #333;
        text-align: center;
    }

    .footer .foot_t_left {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .footer .foot_t_left li~li::before {
        display: none;
    }

    .foot_t_right {
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        gap: 7px;
    }
}

.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    color: #f6f6f6;
    border-radius: 7px 7px 0 0;

    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
}